body{
    font-family: 'Courier New', Courier, monospace;
}
.title, .title-recipe, .title-recipe-in{
    font-weight: 800;
    font-size: 40px;
}

body{
    margin: 40px;
}
.title{
    text-align: center;
}

.recipe-list{
    text-align: center;
    list-style: none;
}

.title-recipe, .title-recipe-in{
    text-align: center;
}

.title-recipe{
    font-size: 20px;
    font-weight: 500;
}
.title-recipe-in{
    font-size: 28px;
    font-weight: 700;
    color: rgb(78, 77, 77);
    background-color: aqua;
}
.picture{
    display: block;
    height: 300px;
    width: auto;
    margin: auto;
}

.title-step li{
    text-decoration: underline;
}